$highlight-size: 1.5rem;

footer {
    background: linear-gradient(0deg, rgba(22,22,36,1) 85%, rgba(43,42,56,1) 100%);

    .row.to-links {
        .to-link-box {
            margin-top: 4rem;

            .to-link {
                font-size: $highlight-size;
                text-decoration: none;
                color: $color-texto;
                font-weight: 200;

                &:hover {
                    color: $color-realce-secundario;
                }
            }
        }

        .to-fono {
            color: $color-realce-secundario;
            font-size: $size-paragraph;
            font-weight: 600;

            span {
                font-size: $highlight-size;
                color: $color-texto;
                font-weight: 200
            }
        
        }

        .to-box-logo {
            max-width: 200px;
        }

        .to-box-icon {
            margin-bottom: 2rem;

            .to-box-redes {
                a {
                    color: $color-texto;

                    &:hover {
                        color: $color-realce-secundario;
                    }

                    i {
                        font-size: $highlight-size;
                    }
                }
            }
        }
    }
}