header {
    nav.navbar {
        background-color: $color-secundario;
        
        div.container-fluid {
            a.navbar-brand {
                img {
                    width: 8rem;
                    height: auto;
                }
            }
    
            button.navbar-toggler {
                color: $color-texto;
                font-size: 2rem;
                padding: 1rem;
                border: none;
                border-radius: none;
                box-shadow: none;
                transition: none;
            }
                    
            div.navbar-collapse {
                &.collapsing {
                    transition: none;
                }
    
                ul.navbar-nav {
                    li.nav-item {
                        text-transform: uppercase;
                        font-weight: bold;
                                
                        a.nav-link {
                            color: $color-texto;
                            border-color: $color-realce-secundario; // Hay una interacción extraña sin esto
                                    
                            &.active {
                                color: $color-texto;
                                margin-bottom: -2px;
                                border-bottom: 2px solid $color-realce-secundario;
                            }
    
                            &:hover {
                                margin-bottom: -2px;
                                border-bottom: 2px solid $color-realce-secundario;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    .da-sticky {
        z-index: 9;
        position: sticky;
        top: 0;
        background-color: $color-realce-primario;

        .to-row-header {
            .to-col-icon {
                .to-box-redes {
                    i {
                        color: $color-texto;
    
                        &:hover {
                            color: $color-primario;
                        }
                    }
                }
            }
    
            .to-col-drop {
                .to-drop {
                    .btn.dropdown-toggle.to-button-drop {
                        color: $color-texto;
                        font-size: $size-paragraph;
                        padding: 0;
    
                        &:focus {
                            border: none;
                        }
                    }
    
                    .dropdown-menu.to-filters {
                        background-color: $color-realce-primario;
                        border: none;
                        border-width: 0;
    
                        // Por defecto
                        --bs-dropdown-link-active-color: none;
                        --bs-dropdown-link-active-bg: none;
                        --bs-dropdown-link-hover-color: none;
                        --bs-dropdown-link-hover-bg: none;
    
                        li {
                            padding: 5px 5px 5px 5px;
                            transition: all 0.1s ease-in;
    
                            label {
                                cursor: pointer;
                                color: $color-texto;
                                text-transform: uppercase;
                                font-weight: bold;
                                padding: 0 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}