@import "_style";
@import "_header";
@import "_footer";

body {
    main {
        div.container {
            div.row {
                background-color: $color-primario;
                border-radius: $radius-global;

                div.to-col-historia {
                    figure {
                        figcaption {
                            width: fit-content;

                            h2 {
                                color: $color-realce-secundario;
                            }
                        }
                    }
                }
            }
        }
    }
}