@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

// Colores
$color-primario: #121220;
$color-secundario: #2B2A38;
$color-realce-primario: #006B31;
$color-realce-secundario: #FF5B72;
$color-texto: #FFF;

// Tamaños
$size-paragraph: 1rem;
$heading-sizes: 2.5rem, 2rem, 1.5rem; // Orden: h1, h2, h3, etc
$radius-global: 10px;

@for $index from 1 through length($heading-sizes) {
    h#{$index} {
        font-size: nth($heading-sizes, $index);
    }
}

body {
    color: $color-texto;
    background-color: $color-secundario;
    font-family: "League Spartan";

    p {
        font-size: $size-paragraph;
    }
}