@import "_style";
@import "_header";
@import "_footer";

main {
    .to-container-contact{
        background-color: $color-primario;
        border-radius: $radius-global;

        .to-box-h1{
            h1{
                font-weight: 200;
            }
        }
        
        .to-box-form{
            
            label{
                color: $color-texto;
            }
            .form-control.to-input-contact{
                background: none;
                border: none;
                border-radius: 0;
                border-bottom: solid 1px $color-texto;
                color: $color-texto;
                padding: 0px;
                transition: all .5s ease-in-out;
                &:focus{
                    padding: 5px;
                    box-shadow: none;
                }        
            }
            #nombre::placeholder{
                color: $color-texto;
            }
            #telefono::placeholder{
                color: $color-texto;
            }
            #email::placeholder{
                color: $color-texto;
            }
            .form-control.to-txtarea{
                background: none;
                color: $color-texto;
                padding: 0px;
                transition: all .5s ease-in-out;
                &:focus{
                    padding: 5px;
                    box-shadow: none;
                    border: solid 1px $color-texto;
                }
            }
        }
    }
}