@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  color: #FFF;
  background-color: #2B2A38;
  font-family: "League Spartan";
}
body p {
  font-size: 1rem;
}

header nav.navbar {
  background-color: #2B2A38;
}
header nav.navbar div.container-fluid a.navbar-brand img {
  width: 8rem;
  height: auto;
}
header nav.navbar div.container-fluid button.navbar-toggler {
  color: #FFF;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: none;
  box-shadow: none;
  transition: none;
}
header nav.navbar div.container-fluid div.navbar-collapse.collapsing {
  transition: none;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #FFF;
  border-color: #FF5B72;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
  color: #FFF;
  margin-bottom: -2px;
  border-bottom: 2px solid #FF5B72;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #FF5B72;
}

body .da-sticky {
  z-index: 9;
  position: sticky;
  top: 0;
  background-color: #006B31;
}
body .da-sticky .to-row-header .to-col-icon .to-box-redes i {
  color: #FFF;
}
body .da-sticky .to-row-header .to-col-icon .to-box-redes i:hover {
  color: #121220;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .btn.dropdown-toggle.to-button-drop {
  color: #FFF;
  font-size: 1rem;
  padding: 0;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .btn.dropdown-toggle.to-button-drop:focus {
  border: none;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters {
  background-color: #006B31;
  border: none;
  border-width: 0;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-color: none;
  --bs-dropdown-link-hover-bg: none;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters li {
  padding: 5px 5px 5px 5px;
  transition: all 0.1s ease-in;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters li label {
  cursor: pointer;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0.5rem;
}

footer {
  background: linear-gradient(0deg, rgb(22, 22, 36) 85%, rgb(43, 42, 56) 100%);
}
footer .row.to-links .to-link-box {
  margin-top: 4rem;
}
footer .row.to-links .to-link-box .to-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  font-weight: 200;
}
footer .row.to-links .to-link-box .to-link:hover {
  color: #FF5B72;
}
footer .row.to-links .to-fono {
  color: #FF5B72;
  font-size: 1rem;
  font-weight: 600;
}
footer .row.to-links .to-fono span {
  font-size: 1.5rem;
  color: #FFF;
  font-weight: 200;
}
footer .row.to-links .to-box-logo {
  max-width: 200px;
}
footer .row.to-links .to-box-icon {
  margin-bottom: 2rem;
}
footer .row.to-links .to-box-icon .to-box-redes a {
  color: #FFF;
}
footer .row.to-links .to-box-icon .to-box-redes a:hover {
  color: #FF5B72;
}
footer .row.to-links .to-box-icon .to-box-redes a i {
  font-size: 1.5rem;
}

body main div.container div.row {
  background-color: #121220;
  border-radius: 10px;
}
body main div.container div.row div.to-col-historia figure figcaption {
  width: -moz-fit-content;
  width: fit-content;
}
body main div.container div.row div.to-col-historia figure figcaption h2 {
  color: #FF5B72;
}/*# sourceMappingURL=historia.css.map */