@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

body {
  color: #FFF;
  background-color: #2B2A38;
  font-family: "League Spartan";
}
body p {
  font-size: 1rem;
}

header nav.navbar {
  background-color: #2B2A38;
}
header nav.navbar div.container-fluid a.navbar-brand img {
  width: 8rem;
  height: auto;
}
header nav.navbar div.container-fluid button.navbar-toggler {
  color: #FFF;
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: none;
  box-shadow: none;
  transition: none;
}
header nav.navbar div.container-fluid div.navbar-collapse.collapsing {
  transition: none;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item {
  text-transform: uppercase;
  font-weight: bold;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #FFF;
  border-color: #FF5B72;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link.active {
  color: #FFF;
  margin-bottom: -2px;
  border-bottom: 2px solid #FF5B72;
}
header nav.navbar div.container-fluid div.navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  margin-bottom: -2px;
  border-bottom: 2px solid #FF5B72;
}

body .da-sticky {
  z-index: 9;
  position: sticky;
  top: 0;
  background-color: #006B31;
}
body .da-sticky .to-row-header .to-col-icon .to-box-redes i {
  color: #FFF;
}
body .da-sticky .to-row-header .to-col-icon .to-box-redes i:hover {
  color: #121220;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .btn.dropdown-toggle.to-button-drop {
  color: #FFF;
  font-size: 1rem;
  padding: 0;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .btn.dropdown-toggle.to-button-drop:focus {
  border: none;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters {
  background-color: #006B31;
  border: none;
  border-width: 0;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
  --bs-dropdown-link-hover-color: none;
  --bs-dropdown-link-hover-bg: none;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters li {
  padding: 5px 5px 5px 5px;
  transition: all 0.1s ease-in;
}
body .da-sticky .to-row-header .to-col-drop .to-drop .dropdown-menu.to-filters li label {
  cursor: pointer;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 0.5rem;
}

footer {
  background: linear-gradient(0deg, rgb(22, 22, 36) 85%, rgb(43, 42, 56) 100%);
}
footer .row.to-links .to-link-box {
  margin-top: 4rem;
}
footer .row.to-links .to-link-box .to-link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #FFF;
  font-weight: 200;
}
footer .row.to-links .to-link-box .to-link:hover {
  color: #FF5B72;
}
footer .row.to-links .to-fono {
  color: #FF5B72;
  font-size: 1rem;
  font-weight: 600;
}
footer .row.to-links .to-fono span {
  font-size: 1.5rem;
  color: #FFF;
  font-weight: 200;
}
footer .row.to-links .to-box-logo {
  max-width: 200px;
}
footer .row.to-links .to-box-icon {
  margin-bottom: 2rem;
}
footer .row.to-links .to-box-icon .to-box-redes a {
  color: #FFF;
}
footer .row.to-links .to-box-icon .to-box-redes a:hover {
  color: #FF5B72;
}
footer .row.to-links .to-box-icon .to-box-redes a i {
  font-size: 1.5rem;
}

.to-input-filter {
  display: none;
}

main .to-corousel-home img {
  width: 100%;
}
main .to-box-main {
  gap: 3rem;
}
main .to-box-main .to-row-post {
  background-color: #121220;
  margin: 0rem 16px 0 16px;
  padding: 35px 16px 0 16px;
  border-radius: 10px;
}
main .to-box-main .to-row-post .to-h1-home {
  color: #FFF;
}
main .to-box-main .to-row-post .to-p-subhome {
  color: #FFF;
}
main .to-box-main .to-row-post .posts {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure {
  position: relative;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure:hover .to-img-post {
  filter: brightness(0.6);
}
main .to-box-main .to-row-post .posts .post .to-article-post figure:hover figcaption {
  display: flex;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure:focus .to-img-post {
  filter: brightness(0.6);
}
main .to-box-main .to-row-post .posts .post .to-article-post figure:focus figcaption {
  display: flex;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure .to-img-post {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure figcaption {
  position: absolute;
  top: 80px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 2rem;
  display: none;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure figcaption .to-box-p {
  color: #FFF;
  text-align: center;
}
main .to-box-main .to-row-post .posts .post .to-article-post figure figcaption a {
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  color: #FFF;
  background-color: #006B31;
  padding: 0.25rem 1rem;
}
main .to-box-main .to-row-ubicaciones {
  background-color: #121220;
  margin: 0rem 16px 0 16px;
  padding: 35px 16px 36px 16px;
  border-radius: 10px;
  color: #FFF;
}
main .to-box-main .to-row-ubicaciones .to-box-maps .to-row-maps iframe {
  width: 100%;
  height: 30vh;
}

[value=all]:checked ~ main .to-row-post .to-col-post .posts [data-category] {
  display: block;
}

[value=puntarenas]:checked ~ main .to-row-post .to-col-post .posts .post:not([data-category~=puntarenas]),
[value=puertonatales]:checked ~ main .to-row-post .to-col-post .posts .post:not([data-category~=puertonatales]) {
  display: none;
}/*# sourceMappingURL=home.css.map */